
@import "bootstrap-sprockets";
@import "bootstrap";
@import "selectize";
@import "selectize.bootstrap3";
@import "*";


.nav-hint {
	visibility: hidden;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

.body {
	margin-bottom: 50px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #f5f5f5;
	text-align: center;

	p {
		margin: 15px 0;
	}
}