/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require skeleton/base
 *= require skeleton/layout
 *= require skeleton/skeleton
 *= require jquery.ui.datepicker
 *= require_self
 */

div.container {
	padding-top: 80px;
	background-color: #eee;
}

nav {
	position: fixed;
}

nav ul {
	float: left;
}

h1 {
	font-size: 49px;
}

h3 {
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

h3 a {
	text-decoration: none;
}

.alert {
	position: relative;
	top: 40px;
	margin-top: 0px !important;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.remember-me {
	float: left;
	margin-right: 10px
}

input[type="submit"] {
	height: 30px;
}
