
table.records {
	th, .date {
		text-align: left;
	}

	td {
		text-align: right;
	}

	tr,  td {
		border-bottom: 1px solid gray;
	}

	td,  th {
		padding: 0px 10px;
	}

	td.actions a {
		visibility: hidden;
	}

	.no-stat {
		color: #bbb;
	}
}

form.add-record {
	margin-top: 10px;

	input[type="text"] {
		width: 60px;
		display: inline;
	}
}

