/* Mobile */
@media only screen and (max-width: 767px) {
	header h1 { 
		font-size: 34px; 
		line-height: 37px; 
	}
	
	nav { 
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	nav ul { 
		text-align: left; 
	}

	nav h3 {
		margin-bottom: 5px;
	}

	nav ul li {
		display: inline; 
		margin-right: 10px;
	}
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Non 960 */
@media only screen and (max-width: 959px) {
	nav .button {
		padding: 9px 20px 11px; 
	}

}

/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	nav {
	width: 124px; }
}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {}


/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 959px) and (max-device-width: 1000px) {}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}

/* Anything smaller than standard 960 on a device */
@media only screen and (max-width: 959px) and (max-device-width: 1000px) {
}


