.modal.fade#importModal(aria-hidden="true" tabindex="-1")
  .modal-dialog
    .modal-content
      = form_for @car, url: {action: :upload} do |f|
        .modal-header
          %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
          %h4 Import Records
        .modal-body
          = f.file_field :records_csv
        .modal-footer
          %button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
          = f.submit 'Import', class: "btn btn-primary"